POSTGRES_PASSWORD=replace-with-a-strong-random-password
POSTGRES_USER=postgres
POSTGRES_DB=vatpls
PGADMIN_DEFAULT_EMAIL=vatpls@vatpls.se
PGADMIN_DEFAULT_PASSWORD=replace-with-a-different-strong-random-password
PGUSER=postgres
PGPASSWORD=use-the-same-value-as-POSTGRES_PASSWORD
PGDATABASE=vatpls
PLS_PASSWORD=replace-with-a-strong-random-password
