POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=vatpls
PGADMIN_DEFAULT_EMAIL=vatpls@vatpls.se
PGADMIN_DEFAULT_PASSWORD=vatpls01
PGUSER=postgres
PGPASSWORD=password
PGDATABASE=vatpls
PLS_PASSWORD={enter pls password here}